.contact {
  position: relative;
  width: 100%;
  height: 97vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-top: 2rem;
}

.contact:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  margin-left: -40px;
  width: 100%;
  height: 100vh;
  opacity: 0.2;
  background-image: url("../../assets/Background-Contact-Form.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 1.5rem;
  z-index: -999;
}

.contactForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bolder;
  color: $darkgrey;
  margin-right: 236px;
}

.contactForm > h4 {
  font-weight: normal;
  font-size: 38px;
  letter-spacing: -0.76px;
  opacity: 1;
}

.contactForm > img {
  width: 30%;
  margin-bottom: 2rem;
  margin-top: 2rem;
  opacity: 1;
}

.contactName_Email {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.contact label {
  margin-bottom: 0.6rem;
}

.contactName {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
}

.contactEmail {
  display: flex;
  flex-direction: column;
}

.contactForm input {
  border: none;
  border-bottom: 2px solid $gray;
  margin-top: 1rem;
  outline: 0;
  background: transparent;
  width: 256px;
  font-size: 18px;
}

.contactTextArea {
  display: flex;
  flex-direction: column;
  width: 528px;
  height: 135px;
  background: transparent;
}

::placeholder {
  opacity: 20%;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active{
  outline:0 !important;
  -webkit-appearance:none;
  box-shadow: none !important;
}


textarea, textarea:focus-visible {
  border: none;
  border-bottom: 2px solid $gray;
}


.footer {
  display: flex;
  justify-content: flex-end;
  //align-items: center;
  //position: relative;
  //top: -22px;
  //display: flex;
  //justify-content: space-between;
  margin-left: 45%;
  margin-top: -40px;
  padding: 20px 20px 0 0;
}

.footer > p {
  width: 100%;
  display: flex;
  text-align: center;
  font-size: 18px;
  color: $gray;
  z-index: 1;
}

.footer img {
  font-size: 20px;
  padding: 0 10px;
}

.button {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
  //margin-top: 40px;
  //padding: 0.5rem 2rem;
  //background-color: white;
  //border: 1px solid black;
  //cursor: pointer;
  //margin-left: 345px;
  //font: 300 18px Open Sans;
}

.button > button {
  width: 7rem;
  height: 3rem;
  padding: 1rem;
  background: transparent;
  border: 1px solid $gray;
  border-radius: 2px;
}

.button > button:hover {
  background-color: $yellow;
  color: $darkgrey;
}

.nameError, .emailError, .textAreaError {
  color: red;
  font-size: 0.6rem;
  font-weight: bold;
  margin-top: .5rem;
}

.submitSuccess {
  width: 55%;
  color: mediumseagreen;
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: .5rem;
  margin-bottom: 2.5rem;
  text-align: center;
}