.heroContent {
  color: $darkgrey;
  display: flex;
  justify-content: right;
  height: 100vh;
}

h1 {
  font-size: 1.75rem;
  text-align: center;
  padding: 0.25rem;
  margin-top: 1rem;
}

h1:last-of-type::after {
  content: url(../../assets/Decoration.svg);
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;

}

.rightSide {
  margin-right: 150px;
  margin-top: 120px;
}
