.whoWeHelp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 100vw;
}

.whoWeHelp > h2 {
  text-align: center;
  font-size: 38px;
  letter-spacing: -0.76px;
  color: $darkgrey;
}

.whoWeHelp > img {
  margin-top: 1.2rem;
  margin-bottom: 3rem;
}

.whoWeHelp ul {
  width: 49vw;
  padding-left: 4rem;
  font-size: 24px;
  display: flex;
  text-align: center;
}

.whoWeHelp li {
  width: 208px;
  height: 79px;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whoWeHelp > ul li {
  margin-left: 2rem;
  margin-right: 2rem;
  flex-direction: column;
  padding: 10px 20px;
  cursor: pointer;
}

.whoWeHelp > ul li:hover {
  border: 1px solid $gray;
  padding: 10px 20px;
}

.whoWeHelp > p {
  text-align: center;
  margin-top: 3rem;
}

.listOfFoundations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $darkgrey;
}

.listOfFoundations > h5 {
  width: 40vw;
  padding: 2rem;
  text-align: center;
  line-height: 1.5rem;
  font-size: 22px;
}

.listOfFoundations > ul {
  width: 80vw;
  text-align: center;
  margin: 30px 100px auto;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid $gray;
  border-top: none;
  border-right: none;
  border-left: none;
}

.list-group-item:hover {
  border-bottom: 2px solid $gray;
  border-top: none;
  border-right: none;
  border-left: none;
}

.nameOfFoundationAndDescription {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 2rem;
}

.nameOfFoundationAndDescription > div:nth-child(1) {
  font-size: 26px;
  margin-bottom: 5px;
  margin-top: 30px;
  line-height: 1.5rem;
}

.nameOfFoundationAndDescription > div:nth-child(2) {
  font-size: 18px;
  font-style: italic;
  text-align: left;
  opacity: 1;
  margin-bottom: 30px;
  line-height: 1.5rem;
}

.whatWeCollectDetails {
  font-size: 18px;
  font-style: italic;
  text-align: left;
  opacity: 1;
}

.page-item {
    color: $gray;
    margin-top: 30px;
}

.page-item:hover {
    border: none;
}

.page-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $gray;
    font-size: 18px;
    opacity: 1;
    width: 40px;
    height: 50px;
}

.page-link:hover {
    border: 1px solid $gray;
}

.pagination {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}