.userLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 123px;
}

.userLoginNav {
  width: 100%;
  margin-top: 0.2rem;
}

.loginPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginPanel > h3 {
  font-size: 40px;
  margin-bottom: 1.2rem;
  color: $darkgrey;
}

.loginPanel > img {
  margin-bottom: 60px;
  width: 253px;
  height: 33px;
}

.loginForm {
  width: 385px;
  height: 235px;
  background-color: #F0F1F1;
  padding: 1rem;
  }

//.loginPanel div:nth-child(1) {
//  background-color: #F0F1F1;
//  padding: 1rem;
//}

.loginEmail, .loginPassword {
  display: flex;
  flex-direction: column;
  margin-bottom: 31px;
  margin-top: 30px;
  margin-left: 37px;
  margin-right: 37px;
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: 16px;
  font-weight: bold;
}

.loginEmail > label, .loginPassword > label {
  margin-bottom: 20px;
}

.loginEmail > input, .loginPassword > input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid $gray;
  background-color: transparent;
}

.loginEmail > p, .loginPassword > p {
  color: red;
}

.loginButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 106px;
  transform: translateX(-18%);
}

.btn-mx-2 {
  display: flex;
  align-items: center;
  border: 2px solid transparent;
  background-color: transparent;
  font-size: 18px;
  width: 117px;
  height: 50px;
  padding: 7px;
}

.btn-mx-2:hover {
  border: 2px solid $gray;
}

.loginButtons  button {
  border: 2px solid transparent;
  background-color: transparent;
  font-size: 18px;
  width: 117px;
  height: 50px;
  transform: translateX(130%)
}

.loginButtons  button:hover {
  border: 2px solid $gray;
}