.userSignIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 123px;
}

.userSignInNav {
  width: 100%;
  margin-top: 0.2rem;
}

.SignInPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SignInPanel > h3 {
  font-size: 40px;
  margin-bottom: 1.2rem;
  color: $darkgrey;
}

.SignInPanel > img {
  margin-bottom: 60px;
  width: 253px;
  height: 33px;
}

.SignInForm {
  width: 385px;
  height: 328px;
  background-color: #F0F1F1;
  padding: 1rem;
}

.SignInEmail, .SignInPassword, .SignInPasswordRepeat {
  display: flex;
  flex-direction: column;
  margin-bottom: 31px;
  margin-top: 30px;
  margin-left: 37px;
  margin-right: 37px;
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: 16px;
  font-weight: bold;
}

.SignInEmail > label, .SignInPassword > label, .SignInPasswordRepeat > label {
  margin-bottom: 20px;
}

.SignInEmail > input, .SignInPassword > input, .SignInPasswordRepeat > input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid $gray;
  background-color: transparent;
}

.SignInEmail > p, .SignInPassword >p, .SignInPasswordRepeat > p {
  color: red;
}

.SignInButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 106px;
  transform: translateX(-18%);
}

.btn-mx-2 {
  display: flex;
  align-items: center;
  border: 2px solid transparent;
  background-color: transparent;
  font-size: 18px;
  width: 117px;
  height: 50px;
  padding: 7px;
}

.btn-mx-2:hover {
  border: 2px solid $gray;
}

.SignInButtons button {
  border: 2px solid transparent;
  background-color: transparent;
  font-size: 18px;
  width: 117px;
  height: 50px;
  transform: translateX(130%)
}

.SignInButtons button:hover {
  border: 2px solid $gray;
  border-radius: 0;
}